@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 300 13pt "Poppins";
    word-wrap: break-word;
    outline: none;
    font-smooth: always;
}
:root{
    --padding-space-01: 100px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
ul{
    list-style-type: none;
    display: flex;
}
a{
    position: relative;
    color: black;
    text-decoration: none;
    transition: color .3s ease-in;
}
a::after{
    position: absolute;
    content: "";
    width: 0%;
    bottom: -6px;
    left: 50%;
    height: 4px;
    background-color: #FC2E20;
    border-radius: 6px;
    transition: width .3s ease-in-out, left .3s ease-in-out;
}
header nav ul li a{
    font-weight: 400;
}
header nav ul li:hover a{
    color: black;
}
header nav ul li:hover a::after{
    width: 100%;
    left: 0%;
}
.logo{
    display: flex;
    padding: 16px 0px 16px 40px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.logo img{
    padding: 0px 10px;
    width: 40px;
}
header nav ul li{
    padding: 0px 10px;
    transition: all .3s ease-in-out;
}
.first-banner{
    background: url(../img/teste.webp) no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: grayscale(30%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-hero {
    padding: 50px 20px;
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-rows: 1fr .5fr;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: "title title" "button1 button2";
}
h1{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 30pt;
}
.container-hero h1{
    color: white;
    font-weight: 500;
    font-size: 30pt;
    text-align: center;
}
.container-hero button{
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 20px;
    max-width:100%;
    width: 250px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    cursor: pointer;
}
.first-button{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    grid-area: button1;
}
.first-button button{
    align-self: flex-end;
    margin-right: 30px;
}
.second-button button{
    align-self: flex-start;
    margin-right: 30px;
}
.second-button{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    grid-area: button2;
}
.container-hero button:active{
    color: black;
    background-color: white;
}
.container-hero button:hover{
    color: black;
    background-color: white;
}
.hero-title{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.178);
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 5px;
    grid-area: title;
}
.menu-section{
    padding: 100px var(--padding-space-01);
}
.foods img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.foods{
    display: grid;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    grid-template-columns:300px 300px 300px;
    gap: 30px;
}
.foods article{
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 300px;
    max-width: 100%;
    transition: all .5s;
}
.foods article:hover{
    transform: scale(1.05, 1.05);
}
.food-description{
    padding: 10px;
}
.slider-field{
    position: relative;
}
.slider{
    scroll-behavior: smooth;
    display: flex;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.slider img{
    position: relative;
    min-width: 100%;
    max-width: 100%;
}
.previous, .next{
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: white;
    font-size: 80px;
    position: absolute;
    z-index: 4;
    transition: all .2s;
}
.previous:hover, .next:hover{
    color: rgb(212, 212, 212);
}
.previous{
    top: calc(50% - 40px);
    left: 0;
}
.next{
    top: calc(50% - 40px);
    right: 0;
}
.fixed-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 100%;
    background: rgb(0,1,37);
    background: linear-gradient(90deg, rgba(0,1,37,0.9136029411764706) 74%, rgba(0,1,37,0.5578606442577031) 88%, rgba(255,205,0,0) 100%);
}
.fixed-text h1{
    color: white;
    font-size: 3rem;
    padding-left: 60px;
}
.booking{
    padding: 100px;
}
.booking form{
    margin-top: 100px;
}
.booking form input:focus{
    border-color: #FC2E20;
}
legend{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
fieldset{
    border: none;
    margin-bottom: 30px;
}
form{
    display:flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}
.submit-form{
    margin: 0 auto;
    cursor: pointer;
}
form input{
    appearance: none;
    background-color: white;
    border: solid 2px #b11f15;
    padding: 10px;
    width: 270px;
}
@media only screen and (max-width:768px){
    .container-hero {
        grid-template-rows: 1fr .5fr .5fr;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "button1" "button2";
    }
    .container-hero h1{
        width: fit-content;
    }
    .first-button{
        margin-top: 80px;
    }
    .second-button{
        margin-top: 30px;
    }
    .first-button button{
        align-self: center;
    }
    .second-button button{
        align-self: center;
    }
}