@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 300 13pt "Poppins";
    word-wrap: break-word;
    outline: none;
    font-smooth: always;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
}
:root{
    --padding-space-01: 100px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
ul{
    list-style-type: none;
    display: flex;
}
a{
    position: relative;
    color: black;
    text-decoration: none;
    transition: color .3s ease-in;
}
a::after{
    position: absolute;
    content: "";
    width: 0%;
    bottom: -6px;
    left: 50%;
    height: 4px;
    background-color: #FC2E20;
    border-radius: 6px;
    transition: width .3s ease-in-out, left .3s ease-in-out;
}
header nav{
    margin-right: 40px;
}
header nav ul li a{
    font-weight: 400;
}
header nav ul li:hover a{
    color: black;
}
header nav ul li:hover a::after{
    width: 100%;
    left: 0%;
}
.logo{
    display: flex;
    padding: 16px 0px 16px 40px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.logo img{
    padding: 0px 10px;
    width: 40px;
}
header nav ul li{
    padding: 0px 10px;
    transition: all .3s ease-in-out;
}
.first-banner{
    background: url(../img/teste.webp) no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: grayscale(30%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-hero {
    padding: 50px 20px;
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-rows: 1fr .5fr;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: "title title" "button1 button2";
}
h1{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 30pt;
}
.container-hero h1{
    color: white;
    font-weight: 500;
    font-size: 30pt;
    text-align: center;
}
.container-hero button{
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 20px;
    max-width:100%;
    width: 250px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    cursor: pointer;
}
.first-button{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    grid-area: button1;
}
.first-button button{
    align-self: flex-end;
    margin-right: 30px;
}
.second-button button{
    align-self: flex-start;
    margin-right: 30px;
}
.second-button{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    grid-area: button2;
}
.container-hero button:active{
    color: black;
    background-color: white;
}
.container-hero button:hover{
    color: black;
    background-color: white;
}
.hero-title{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-area: title;
    
}

.hero-title h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
}
.menu-section{
    padding: 100px var(--padding-space-01);
}
.foods img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.foods{
    display: grid;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    grid-template-columns:300px 300px 300px;
    gap: 30px;
}
.foods article{
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 300px;
    max-width: 100%;
    transition: all .5s;
}
.foods article:hover{
    transform: scale(1.05, 1.05);
}
.food-description{
    padding: 10px;
}
.slider-field{
    position: relative;
    margin-top: 100px;
}
.slider{
    scroll-behavior: smooth;
    display: flex;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.slider img{
    position: relative;
    min-width: 100%;
    max-width: 100%;
}
.previous, .next{
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: white;
    font-size: 80px;
    position: absolute;
    z-index: 4;
    transition: all .2s;
}
.previous:hover, .next:hover{
    color: rgb(212, 212, 212);
}
.previous{
    top: calc(50% - 40px);
    left: 0;
}
.next{
    top: calc(50% - 40px);
    right: 0;
}
.fixed-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 65%;
    height: 100%;
   
}
.fixed-text h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding-left: 70px;
    font-size: 3.2rem;
    text-shadow: 1px 1px 1px black;
}
.booking{
    padding: 100px var(--padding-space-01);
}
.booking form{
    margin-top: 100px;
}
.booking form input:focus{
    border-color: #FC2E20;
}
legend{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
fieldset{
    display: flex;
    border: none;
    margin-bottom: 30px;
    padding: 0;
}
form{
    display:flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}
.submit-form{
    margin: 0 auto;
    cursor: pointer;
}
form input{
    appearance: none;
    background-color: white;
    border: solid 2px #b11f15;
    padding: 10px;
    width: 270px;
}
footer{
    padding: 100px var(--padding-space-01);
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    background-color:  #b11f15;
    color: black;
}
footer p{
    margin-bottom: 10px;
}
footer h3{
    color: white;
    font-size: 1.3rem;
    margin-bottom: 5px;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer img{
    width: 200px;
}
fieldset input:nth-child(3){
    margin-left: 10px;
}
.mobile-menu{
    display: none;
    margin-right: 40px;
    cursor: pointer;
}
.menu-lateral{
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    min-height:100%;
    max-width: 100%;
}
.close-menu .line{
    width: 25px;
    height: 4px;
    cursor: pointer;
}
.close-menu .line:nth-child(1){
    margin: 0;
    transform: rotate(55deg);
}
.close-menu .line:nth-child(2){
    display: none;
    margin:0;   
}
.close-menu .line:nth-child(3){
    margin: 0;
    margin-top: 1px;
    transform: rotate(307deg) translate(4px, -3px);
}
.line{
    width: 40px;
    height: 5px;
    margin: 5px;    
    background-color: #FC2E20;
    border-radius: 4px;
}
.close-menu{
    justify-self: flex-end;
    margin: 40px 40px 0px 0px;
}
.menu-lateral nav{
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu-lateral nav ul{
    display: flex;
    flex-direction: column;
}
.menu-lateral nav ul li{
    margin-bottom: 15px;
}
.menu-lateral nav ul li a{
    font-weight: 400;
}
.menu-lateral nav ul li:hover a{
    color: black;
}
.menu-lateral nav ul li:hover a::after{
    width: 100%;
    left: 0%;
}
@media only screen and (max-width: 1011px){
    .foods{
        grid-template-columns: 300px 300px;
    }
}
@media only screen and (max-width: 807px){
    footer{
        flex-direction: column-reverse;
        align-items: center;
    }
    footer img{
        margin-top: 120px;
    }
}
@media only screen and (max-width:768px){
    .container-hero {
        grid-template-rows: 1fr .5fr .5fr;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "button1" "button2";
    }
    .container-hero h1{
        width: fit-content;
    }
    .first-button{
        margin-top: 80px;
    }
    .second-button{
        margin-top: 30px;
    }
    .first-button button{
        align-self: center;
    }
    .second-button button{
        align-self: center;
    }
    fieldset{
        flex-direction: column;
    }
    form input{
        width:100%;
    }
    .fixed-text h1{
        font-size: 2rem;
    }
    fieldset input:nth-child(3){
        margin-left: 0px;
        margin-top: 10px;
    }
    header nav{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
}
@media only screen and (max-width: 666px){
    .foods{
        grid-template-columns: 300px;
    }
    .booking form{
        margin: 40px auto;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 577px){
    :root{
        --padding-space-01: 30px;
    }
    .fixed-text h1{
        font-size: 1rem;
    }
}
@keyframes menuGoodBye{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    to{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}
@keyframes menuAppears{
    from{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
